1. Landlord
 - name
 - surname
 - email
 - phone
 - estates
 - birthday
 
1.1. Property
 - type
 - location
 - ?photos
 - rent per month
 - ?rent per year
 - bills per month
 - rented
 - expences per month
 - rent payday
 - bills payday
 - suitable for pets



1.2. Teanant 
 - name
 - surname
 - phone
 - email
 - job
 - has pets
 - birthday
 





